<% provide(:title, "Edit Issue") %>

<h1>Edit "<%= @issue.title %>"</h1>

<%= form_with(model: @issue, local: true) do |f| %>
  <%= f.label :title %>
  <br />
  <%= f.text_field :title %><br />
  <br />
  <br />

  <%= f.label :description %>
  <br />
  <%= f.text_area :description, cols: 60, rows: 10 %><br />
  <br />
  <br />

  <%= f.label :category %>
  <br />
  <%= f.select :category, %w[requirements design development bugfix testing documentation] %>
  <br />
  <br />

  <%= f.label :priority %>
  <br />
  <%= f.select :priority, ['critical', 'major', 'normal', 'minor'] %>
  <br />
  <br />

  <%= f.label :state %>
  <br />
  <%= f.select :state, ['open', 'in progress', 'ready for review', 'under review', 'reviewed - see comments', 'complete',
                        'duplicate', 'obsolete', "won't fix"] %>
  <br />
  <br />

  <%= f.label :project_id %>
  <br />
  <%= f.number_field :project_id, readonly: true %>
  <br />
  <br />

  <%= f.submit 'Save changes', class: 'btn btn-primary' %>
  <%= link_to 'Delete Issue', issue_path, method: :delete, data: { confirm: 'Are you sure you want to delete this issue? This action cannot be undone.' }, class: 'btn btn-danger' %>
  <%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
<% end %>