<br />
<div class="row">
  <div class="col"><h1><%= @issue.title %></h1></div>
</div>
<div class="row">
  <div class="col-9">
    <p><%= @issue.description %>
  </div>
  <div class="col-3">
    <div class="card float-right">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Project:</b> <%= link_to @issue.project.name, @issue.project %></li>
        <li class="list-group-item"><b>State:</b> <%= @issue.state&.titleize %></li>
        <li class="list-group-item"><b>Priority:</b> <%= @issue.priority&.titleize %></li>
        <li class="list-group-item"><b>Category:</b> <%= @issue.category&.titleize %></li>
        <li class="list-group-item"><b>Assigee:</b> TODO</li>
        <li class="list-group-item"><b>Created:</b> <%= @issue.created_at.strftime('%F') %></li>
      </ul>
    </div>
  </div>
</div>
<% if current_user&.is_member_of?(project: @issue.project) %>
  <%= link_to 'Edit Issue', edit_issue_path(@issue), class: 'btn btn-primary' %>
  <%= link_to 'Delete Issue', @issue, method: :delete, class: 'btn btn-danger' %>
<% end %>
