<br />
<h1>Membership requests for <%= @project.name %></h1>

<% if @requests.any? %>
  <% @requests.each do |request| %>
    <div class='row my-3'>
      <div class='card border-dark col-9 mx-auto'>
        <div class='card-body'>
          <h5 class="card-title">New membership request</h5>
          <p class="card-text">User <%= request.user.email %> has requested to join your project.</p>
          <div class='row'>
            <%= form_with url: project_membership_request_path(id: @project.id), method: :put, local: true do |f| %>
              <%= f.hidden_field :request_id, value: request.id, type: "hidden" %>
              <%= f.hidden_field :admin_action, value: 'accept', type: "hidden" %>
              <%= f.submit 'Accept request', class: 'btn btn-primary mr-2' %>
            <% end %>
            <%= form_with url: project_membership_request_path(id: @project.id), method: :put, local: true do |f| %>
              <%= f.hidden_field :request_id, value: request.id, type: "hidden" %>
              <%= f.hidden_field :admin_action, value: 'reject', type: "hidden" %>
              <%= f.submit 'Reject request', class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There aren't any requests to join your project right now.</p>
<% end %>

<%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
