<% provide(:title, @project.name) %>
<br />
<h1><%= @project.name %>
  <% if current_user&.is_admin_for?(project: @project) %>
    <%= link_to '<i class="fas fa-cog fa-xs"></i>'.html_safe, edit_project_path %>
  <% end %>
</h1>

<div class='row'>
  <p>
    <%= @project.description %>
    <br />
    <br />
    <% if current_user&.is_admin_for?(project: @project) && @project.project_membership_requests.any? %>
      <%= link_to 'View membership requests', project_project_membership_requests_path(@project), class: 'btn btn-primary' %>
    <% end %>
  </p>
</div>
<br />
<div class='row'>
  <p>
    <h3>Project Issues</h3>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th scope='col'>ID</th>
          <th scope='col'>Priority</th>
          <th scope='col'>Category</th>
          <th scope='col'>State</th>
          <th scope='col'>Title</th>
          <th scope='col'>Description</th>
          <th scope='col'>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @project.issues.each do |issue| %>
          <tr>
            <th scope='row'><%= link_to issue.id, project_issue_path(@project, issue) %></th>
            <td><%= issue.priority&.capitalize %></td>
            <td><%= issue.category&.capitalize %></td>
            <td><%= issue.state&.titleize %></td>
            <td><%= link_to issue.title, project_issue_path(@project, issue) %></td>
            <td><%= issue.description.truncate(30)%></td>
            <td><%= issue.created_at.strftime('%F') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class='row'>
      <% if current_user&.is_member_of?(project: @project) %>
        <%= link_to 'New Issue', new_issue_path(project_id: @project.id), class: 'btn btn-primary' %>
      <% elsif current_user&.can_request_membership_for?(project: @project) %>
        <%= link_to 'Request to join project', project_project_membership_requests_path(user_id: current_user.id, project_id: @project.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </p>
</div>
