<% provide(:title, @project.name) %>
<br />
<h1><%= @project.name %>
  <% if current_user&.is_admin_for?(project: @project) %>
    <%= link_to '<span style="font-size: 24px" text-align: center;" class="glyphicon glyphicon-cog"></span>'.html_safe, edit_project_path %>
  <% end %>
</h1>

<div class='container'>
  <p>
    <%= @project.description %>
  </p>
  <p>
    <h3>Project Issues</h3>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th scope='col'>ID</th>
          <th scope='col'>Priority</th>
          <th scope='col'>Title</th>
          <th scope='col'>Description</th>
          <th scope='col'>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @project.issues.each do |issue| %>
          <tr>
            <th scope='row'><%= link_to issue.id, project_issue_path(@project, issue) %></th>
            <td><%= issue.priority.capitalize %></td>
            <td><%= link_to issue.title, project_issue_path(@project, issue) %></td>
            <td><%= issue.description.truncate(100)%></td>
            <td><%= issue.created_at.strftime('%F') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Issue', project_path, class: 'btn btn-primary' %>
  </p>
</div>
